*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/app/public/*
/storage/pail
_check_app_url.php
check_images.php
/vendor
Homestead.json
Homestead.yaml
Thumbs.db

_users.php
_check_app_url.php
check_images.php